@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@100;200;300;400;500;600;700;800&display=swap");
body {
    margin: 0;
    font-family: "Baloo Tamma 2";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
    text-decoration: none;
    color: "white";
}

a:active,
a:focus {
    color: "white";
}